body {
    font-family: sans-serif;
    min-height: 400px;
<<<<<<< HEAD
    background-image:url(../assets/moeda.jpeg);
    background-size: 1%;
    background-color: rgb(78, 69, 17);   
=======
    background-image:url(../assets/conversor\ de\ moeda.jpeg) ;
    background-color: rgb(78, 69, 17)   
    
>>>>>>> 1c54f69e8c81732420f9ab28cf58c225c84722d0
}
  
.container {
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    height: 100vh;
    text-shadow: #000 2px 3px;
    
}
  
.page-title {
    color: gold;
    margin: 0 0 5px;
    font-size: 60px;
  
}
    
.page-logo {
    width: 200px;
}
  
.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
  
input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 20px;

}
  
label {
    color: whitesmoke;
    font-size: 40px;
    text-shadow: 1px 1px 5px #000;
}
  
button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: goldenrod;
    height: 40px;
    width: 140px;
    font-size: 20px;
    color: black;

}
  
h2 {
    color: yellow;
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
    text-shadow: #000 2px 3px;
}

footer {
    margin-top: -15%;
    font-size: 120%;
    text-align: center;   
    color:whitesmoke;
    text-shadow: 1px 1px 5px #000;
}
